{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <h1>Structure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Membre</th>
                <th>Cfce</th>
                <th>PrenomNomReferent</th>
                <th>FonctionReferent</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.id }}</td>
                <td>{{ structure.Nom }}</td>
                <td>{{ structure.Membre }}</td>
                <td>{{ structure.Cfce }}</td>
                <td>{{ structure.PrenomNomReferent }}</td>
                <td>{{ structure.FonctionReferent }}</td>
                <td>{{ structure.Telephone }}</td>
                <td>{{ structure.Email }}</td>
                <td>
                    <a href="{{ path('structure_show', {'id': structure.id}) }}">show</a>
                    <a href="{{ path('structure_edit', {'id': structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('structure_new') }}">Create new</a>
{% endblock %}
