            <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> STRUCTURE INSCRITE </h2>
                    </div>
                    <div class="body">
                        <table>
                            <tbody style="display: inline-flex; margin:0px 30px 10px;">

                                <tr id="filter_col1" data-column="1">
                                    <td> Entreprise </td>
                                    <td align="center"> <input type="text" class="column_filter" id="col1_filter"> </td>
                                </tr>

                                <tr id="filter_col2" data-column="2">
                                    <td> Secteur activités </td>
                                    <td align="center"> <input type="text" class="column_filter" id="col2_filter"> </td>
                                </tr>

                                <tr id="filter_col5" data-column="5">
                                    <td> Prénom Référent </td>
                                    <td align="center"> <input type="text" class="column_filter" id="col5_filter"> </td>
                                </tr>

                                <tr id="filter_col6" data-column="6">
                                    <td> Fonction </td>
                                    <td align="center"> <input type="text" class="column_filter" id="col6_filter"> </td>
                                </tr>

                            </tbody>
                        </table>

                        <table id="tabe" class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th> Id </th>
                                    <th> Entreprise </th>
                                    <th> Secteur D'activités </th>
                                    <th> Membre ASPRH </th>
                                    <th> Cotisation Cfce </th>
                                    <th> Prénom & Nom du Référent </th>
                                    <th> Fonction du Référent </th>
                                    <th> Téléphone </th>
                                    <th> Email </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for structure in structures %}
                                <tr>
                                    <td>{{ structure.id }}</td>
                                    <td>{{ structure.Nom }}</td>
                                    <td>{{ structure.SecteurActivite }}</td>
                                    <td>{{ structure.Membre }}</td>
                                    <td>{{ structure.Cfce }}</td>
                                    <td>{{ structure.PrenomNomReferent }}</td>
                                    <td>{{ structure.FonctionReferent }}</td>
                                    <td>{{ structure.Telephone }}</td>
                                    <td>{{ structure.Email }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>