{% extends 'base_dashboard.html.twig' %}

{% block title %}Activite index{% endblock %}

{% block body %}
{{ include('includes/leftsidebar_acti.html.twig') }}
{{ include('includes/navbartop.html.twig') }}
<!-- Main Content -->
<section class="content home">
    {{ include('includes/welcome.html.twig') }}

    {{ include('includes/table_activite.html.twig') }}

    <div class="container-fluid">
        {{ include('includes/footer.html.twig') }}
    </div>
    
</section>

{% endblock %}
