<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('error_assets/css/bootstrap.min.css'))}}">
        <link rel="stylesheet" href="{{asset('error_assets/css/metisMenu.min.css'))}}">
        <link rel="stylesheet" href="{{asset('error_assets/css/icons.css'))}}">
        <link rel="stylesheet" href="{{asset('error_assets/css/style.css'))}}">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}
        
        {% endblock %}
        {% block javascripts %}{% endblock %}

        <!-- jQuery  -->
        <script src="{{asset('error_assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('error_assets/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('error_assets/js/metisMenu.min.js')}}"></script>
        <script src="{{asset('error_assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{asset('error_assets/js/waves.min.js')}}"></script>

        <!-- App js -->
        <script src="{{asset('error_assets/js/app.js')}}"></script>

    </body>
</html>
