{% extends 'base_dashboard.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<!-- Searchbar Include -->
{{ include('includes/search.html.twig') }}
<!-- NavbarTop Includes -->
{{ include('includes/navbartop.html.twig') }}
<!-- Leftsidebar Includes -->
{{ include('includes/leftsidebar.html.twig') }}

<!-- Main Content -->
<section class="content home">
{{ include('includes/welcome.html.twig') }}
    <div class="container-fluid">

        <!-- Decompte -->
                {{ include('includes/decompte.html.twig') }}
        <!-- Fin Decompte -->

        <!-- ICI MEC -->
                {{ include('includes/tableexport.html.twig') }}
        <!--JUSTE ICI -->      

        <!-- ICI MEC POUR LES BESOINS -->
                {{ include('includes/tableexportneed.html.twig') }}
        <!--JUSTE ICI -->   

        <!-- Footer -->
                {{ include('includes/footer.html.twig') }}
        <!--Fin Footer -->

    </div>
</section>
{% endblock %}
